{
    "openapi": "3.0.2",
    "info": {
        "title": "Digitex Rest Trading API",
        "version": "0.0.1",
        "description": "<br>\n<h4>Digitex's REST trading api specification</h4>\n\nIn order to start, one has to register either at https://testnet.digitexfutures.com for testnet (virtual funds trading) or at https://digitex.io - our mainnet (real money trading).\n\nAfter registration you need to obtain your trading token in your account.\n\nDirect links to the account page:\n- testnet - https://testnet.digitexfutures.com/profile/account\n- mainet - https://digitex.io/trade/profile/account\n\nIf you have already created your token, you can simply copy it, else click on \"Create\" in the API section of your account.\n\n\nIMPORTANT NOTES!\n\n- All of the data which is expected to be float or decimal are passed as strings. Data is converted into Decimal/float format on the client level\n- All timestamps are in nanoseconds UTC\n- Enums, such as order types, status etc can be found in Exchange-Meta-Data group of endpoints",
        "contact": {
            "name": "Sergiy Pavlyuk",
            "email": "spavlyuk@digitex.io"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "servers": [
        {
            "url": "https://testnet.digitexfutures.com/dapi",
            "description": "Testnet"
        },
        {
            "url": "https://digitex.io/dapi",
            "description": "Mainnet"
        },
        {
            "url": "http://127.0.0.1:8000/dapi",
            "description": "For internal testing purposes only"
        }
    ],
    "paths": {
        "/v1/exchange/bot/currency/": {
            "summary": "Currency list",
            "description": "Currency list",
            "get": {
                "tags": [
                    "Public",
                    "Exchange-Meta-Data"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Currency"
                                    }
                                },
                                "examples": {
                                    "CurrencyDefiniitionsResponseExample": {
                                        "value": [
                                            {
                                                "id": 1,
                                                "name": "Digitex",
                                                "code": "DGTX",
                                                "currency_scale": 4,
                                                "withdraw_fee": "100.000000000000000000"
                                            },
                                            {
                                                "id": 2,
                                                "name": "Bitcoin",
                                                "code": "BTC",
                                                "currency_scale": 8,
                                                "withdraw_fee": "0.000050000000000000"
                                            },
                                            {
                                                "id": 4,
                                                "name": "Ethereum",
                                                "code": "ETH",
                                                "currency_scale": 8,
                                                "withdraw_fee": "100.000000000000000000"
                                            },
                                            {
                                                "id": 6,
                                                "name": "USDT",
                                                "code": "USDT",
                                                "currency_scale": 4,
                                                "withdraw_fee": "100.000000000000000000"
                                            },
                                            {
                                                "id": 7,
                                                "name": "USD Coin",
                                                "code": "USDC",
                                                "currency_scale": 4,
                                                "withdraw_fee": "100.000000000000000000"
                                            },
                                            {
                                                "id": 32,
                                                "name": "Blockster",
                                                "code": "BXR",
                                                "currency_scale": 4,
                                                "withdraw_fee": "0.000000000000000000"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Currencies list"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "summary": "Currencies",
                "description": "Returns list of currencies that are available to use in the wallet"
            },
            "parameters": [
                {
                    "name": "currency_id",
                    "description": "Optional query parameter to return single currency info, if empty returns list of available currencies",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                }
            ]
        },
        "/v1/exchange/bot/ping": {
            "summary": "Utility endpoint to ping the server, If \"pong\" is in the response, then the service is working properly. Additionally there is a timestamp value of servers's internal time. Note all times are in UTC",
            "description": "Utility endpoint to ping the server, If \"pong\" is in the response, then the service is working properly. Additionally there is a timestamp value of servers's internal time. Note all times are in UTC",
            "get": {
                "tags": [
                    "Public"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ping"
                                },
                                "examples": {
                                    "PingResponseExample": {
                                        "value": {
                                            "timestamp": 1234598990003,
                                            "datetime": "2021-09-19 17:18:44.820400",
                                            "message": "pong"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Request succesfull"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "summary": "Ping",
                "description": "Utility endpoint to ping the server, If \"pong\" is in the response, then the service is working properly. Additionally there is a timestamp value of servers's internal time. Note all times are in UTC"
            }
        },
        "/v1/exchange/bot/order_book/": {
            "summary": "Returns order book for the market",
            "get": {
                "tags": [
                    "Public"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OrderBook"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "summary": "Order book",
                "description": "Returns exchange's order book for selected market"
            },
            "parameters": [
                {
                    "examples": {
                        "market_id": {
                            "value": "2"
                        }
                    },
                    "name": "market_id",
                    "description": "market_id\n",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query",
                    "required": true
                }
            ]
        },
        "/v1/exchange/bot/recent_trades/": {
            "summary": "Get recent trades",
            "get": {
                "tags": [
                    "Public"
                ],
                "parameters": [
                    {
                        "name": "max_trades",
                        "description": "Limit maximum number of recent trades. Default limit is 1000",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "market_id": {
                                "value": "1"
                            }
                        },
                        "name": "market_id",
                        "description": "market id",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/RecentTrade"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "summary": "List of recent trades done at the market"
            },
            "parameters": [
                {
                    "examples": {
                        "market_id": {
                            "value": "2"
                        }
                    },
                    "name": "market_id",
                    "description": "Market id for the trades",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query",
                    "required": true
                },
                {
                    "name": "max_trades",
                    "description": "limits the amount of max trades. if not specified the trades are limited by the last 60 minutes",
                    "schema": {

                    },
                    "in": "query"
                }
            ]
        },
        "/v1/exchange/bot/history/ohlcv/": {
            "summary": "View for OHLCV (open-high-low-close chart) candles with selected by datetime",
            "description": "View for OHLCV (open-high-low-close chart) candles with selected by datetime",
            "get": {
                "tags": [
                    "Public"
                ],
                "parameters": [
                    {
                        "name": "date_from",
                        "description": "Unix timestamp (UTC) of the leftmost required bar, including from.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "date_to",
                        "description": "Unix timestamp (UTC) of the rightmost required bar, including to. It can be in the future. In this case, the rightmost required bar is the latest available bar.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "market_id",
                        "description": "int market_id",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "top_n",
                        "description": "number of records ohlcv, default 10000",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "resolution",
                        "description": "Symbol resolution. Possible resolutions are daily (D or 1D, 2D ... ), weekly (1W, 2W ...), monthly (1M, 2M...) and an intra-day resolution – minutes(1, 2 ...).",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OHLCV"
                                }
                            }
                        },
                        "description": "Get array of OHLCVs (open-high-low-close chart)"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "deprecated": false,
                "summary": "OHLCV",
                "description": "Returns open high low close volume aggregated data for selected market and timeframe.\n\nIn any case returns max 1k datapoints. Optionally datapoints can be filtered with date_from and date_to parameters\n\nAvailable timeframes (resolutions):\n- daily (D or 1D, 2D ... )\n- weekly (1W, 2W ...)\n- monthly (1M, 2M...)\n- minutes (1, 2 ...)."
            }
        },
        "/v1/exchange/bot/trader/order/": {
            "summary": "Place an order",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PlaceOrder"
                            },
                            "examples": {
                                "PlaceOrderExample": {
                                    "value": {
                                        "id": "986ca2aa-9f21-4a90-87f0-692b88c92bdf",
                                        "market_id": 24,
                                        "side": 1,
                                        "type": 2,
                                        "duration": 2,
                                        "leverage": 1,
                                        "quantity": 1234,
                                        "price": 0.0038
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Private"
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "201": {
                        "$ref": "#/components/responses/PlaceOrder"
                    }
                },
                "security": [
                    {
                        "TradersToken": [
                        ]
                    }
                ],
                "summary": "Place an order"
            }
        },
        "/v1/exchange/bot/exchange_info/": {
            "summary": "Get exchange info. This endpoint returns all metadata for the exchange.",
            "get": {
                "tags": [
                    "Public",
                    "Exchange-Meta-Data"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ExchangeInfo"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "summary": "Exchange information",
                "description": "This endpoint returns all metadata for the exchange, such as:\n- traders ratelimits. сurrently this is not strictly enforced, however rate limits can be applied individually if the trader abuses the API\n- notifications. This field will contain all notifications/announcements from the exchnage. Please note, these are not system notifications. \n- servertime - server's Unix timestamp in microseconds.\n- currencies\n- markets\n- order types enum values (LIMIT/MARKET)\n- time in force / order duruation enum values (e.g Good till funding, Good till cancelled)\n- order_sides enum values (But/Sell)\n- order_positions enum values(Long/Short)\n- order_status (Pending, Accepted, Filled, etc)\n"
            }
        },
        "/v1/exchange/bot/markets/": {
            "summary": "Markets",
            "description": "Available markets to trade",
            "get": {
                "tags": [
                    "Public",
                    "Exchange-Meta-Data"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Market"
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": [
                                            {
                                                "id": 2,
                                                "name": "ETH/USD",
                                                "code": "ETHUSD",
                                                "market_type": 1,
                                                "base_currency": "ETH",
                                                "quote_currency": "USD",
                                                "description": "ETH/USD Perpetual Futures",
                                                "tick_size": "1.000000000000000000",
                                                "tick_price": "1.000000000000000000",
                                                "tick_scale": 0,
                                                "pnl_scale": 0,
                                                "mark_price_scale": 2,
                                                "category": "Futures",
                                                "quantity_scale": 0,
                                                "large_scale": 0,
                                                "lot_size": "1.000000000000000000",
                                                "openPx": 2212,
                                                "highPx": 2332,
                                                "lowPx": 2203,
                                                "pxChange24h": 3.5340314136125652,
                                                "volume24h": 152110,
                                                "volume24hUsd": 910147.66152127,
                                                "lastTradePx": 2292,
                                                "usd_scale": 2,
                                                "liquidity_reward_currency": 1,
                                                "contract_currency": "DGTX",
                                                "funding_rate": 2.0E-4
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "List of markets"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "summary": "Markets",
                "description": "Get list of markets"
            },
            "parameters": [
                {
                    "name": "market_id",
                    "description": "Optional query to return just one market_id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                }
            ]
        },
        "/v1/exchange/bot/order_history/": {
            "summary": "Get order history",
            "description": "Includes orders that are no longer active. These are orders that have the following status:\n- FILLED - numerical status 5. Order has been fully filled\n- CANCELLED - numerical status 4. Order has been cancelled by user. Note partially filled order can be cancelled as well\n- REJECTED - numerical status 3. Order has been rejected by matching engine.\n\nAll query parameters are optional.",
            "get": {
                "tags": [
                    "Private"
                ],
                "parameters": [
                    {
                        "examples": {
                            "created_at_from": {
                                "value": "2020-04-01T13:37:39.867Z"
                            }
                        },
                        "name": "created_at_from",
                        "description": "Timestamp in nanoseconds. Filters for order created at or after this timestamp",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "created_at_to": {
                                "value": "2020-04-02T13:37:39.867Z"
                            }
                        },
                        "name": "created_at_to",
                        "description": "Timestamp in nanoseconds. Filters for orders created before this timestamp",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "cursor": {
                                "value": "qweJKFA31rnkjASFALKhl1324"
                            }
                        },
                        "name": "cursor",
                        "description": "cursor for fetching pages",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "market_id": {
                                "value": "2"
                            }
                        },
                        "name": "market_id",
                        "description": "Id of a market",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "page_size": {
                                "value": "30"
                            }
                        },
                        "name": "page_size",
                        "description": "Amount of order displayed per page",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "status": {
                                "value": "2"
                            }
                        },
                        "name": "status",
                        "description": "orders status",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "trader_id": {
                                "value": "2"
                            }
                        },
                        "name": "trader_id",
                        "description": "Id of a users trader",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/MyOrders"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "summary": "Order history",
                "description": "Includes orders that are no longer active. These are orders that have the following status:\n- FILLED - numerical status 5. Order has been fully filled\n- CANCELLED - numerical status 4. Order has been cancelled by user. Note partially filled order can be cancelled as well\n- REJECTED - numerical status 3. Order has been rejected by matching engine.\n\nAll query parameters are optional."
            },
            "parameters": [
                {
                    "examples": {
                        "market_id": {
                            "value": "2"
                        }
                    },
                    "name": "market_id",
                    "description": "Id of a market",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "page_size": {
                            "value": "30"
                        }
                    },
                    "name": "page_size",
                    "description": "Amount of order displayed per page",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "created_at_to": {
                            "value": "1632234345216613"
                        }
                    },
                    "name": "created_at_to",
                    "description": "Timestamp in nanoseconds. Filters for orders created before this timestamp",
                    "schema": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "created_at_from": {
                            "value": "1632234345216613"
                        }
                    },
                    "name": "created_at_from",
                    "description": "Timestamp in nanoseconds. Filters for order created at or after this timestamp",
                    "schema": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "trader_id": {
                            "value": "2"
                        }
                    },
                    "name": "trader_id",
                    "description": "Id of a users trader",
                    "schema": {
                        "type": "number"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "status": {
                            "value": "2"
                        }
                    },
                    "name": "status",
                    "description": "orders status",
                    "schema": {
                        "$ref": "#/components/schemas/OrderStatus"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "cursor": {
                            "value": "qweJKFA31rnkjASFALKhl1324"
                        }
                    },
                    "name": "cursor",
                    "description": "cursor for fetching pages",
                    "schema": {
                        "type": "string"
                    },
                    "in": "query"
                }
            ]
        },
        "/v1/exchange/bot/order_status/": {
            "summary": "Get orders status",
            "description": "Get status of orders by query params",
            "get": {
                "tags": [
                    "Private"
                ],
                "parameters": [
                    {
                        "examples": {
                            "order_id": {
                                "value": "d3c32cc8-89b7-4a4a-8847-7a255e7739ad"
                            }
                        },
                        "name": "client_id",
                        "description": "uuid of the order",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    },
                    {
                        "examples": {
                            "trader_id": {
                                "value": "3"
                            }
                        },
                        "name": "trader_id",
                        "description": "optional trader's id. Works in case user has several trading accounts",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OrderStatusInfo"
                                    }
                                },
                                "examples": {
                                    "Success": {
                                        "value": [
                                            {
                                                "created_at": 1566818724722,
                                                "client_id": "testOrder",
                                                "id": "22542179qwerqwetasdf",
                                                "quantity": "0",
                                                "orig_quantity": "10",
                                                "price": "0",
                                                "reduceOnly": false,
                                                "side": "BUY",
                                                "status": "NEW",
                                                "stopPrice": "9300",
                                                "market__code": "BTCUSDT",
                                                "timeInForce": "GTC",
                                                "type": "LIMIT",
                                                "executed_quantity": 12,
                                                "average_price": 123
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Must return list of orders"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "summary": "Order status",
                "description": "Get status of orders by query params"
            },
            "parameters": [
                {
                    "examples": {
                        "trader_id": {
                            "value": "3"
                        }
                    },
                    "name": "trader_id",
                    "description": "optional trader's id. Works in case user has several trading accounts",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "order_id": {
                            "value": "d3c32cc8-89b7-4a4a-8847-7a255e7739ad"
                        }
                    },
                    "name": "client_id",
                    "description": "uuid of the order",
                    "schema": {
                        "type": "string"
                    },
                    "in": "query",
                    "required": true
                }
            ]
        },
        "/v1/exchange/bot/orders/": {
            "summary": "Get my open orders",
            "description": "Open orders are orders that have not been fully filled yet.\n\nThese are order with order_status:\n- PENDING - numerical status 1 - the order has been recieved, however not yet accepted by the exchange matching engine\n- ACCEPTED - numerical status 2 - the order has been recieved, validated and accepted by the exchange matching engine\n- PARTIAL - numerical status 6 - ACCEPTED + partially filled. Partial filled information and remaining volume are part of the open order information\n\n\nOrders can be filtered with any of the query parameters. No query parameters mean all open orders.",
            "get": {
                "tags": [
                    "Private"
                ],
                "parameters": [
                    {
                        "name": "status",
                        "description": "- ACCEPTED (2) - order has been accepted for execution by matching engine\n- PENDING (1) - order has been recieved, however not yet accepted\n- PARTIAL (6) - order has been only partially filled\n",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "cursor": {
                                "value": "cD0yMDIxLTA4LTE4KzE1JTNBMjQlM0EwOS43OTczMTUlMkIwMCUzQTAw"
                            }
                        },
                        "name": "cursor",
                        "description": "Cursor for fetching. Pagination",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "market_id": {
                                "value": "2"
                            }
                        },
                        "name": "market_id",
                        "description": "id of a market",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "examples": {
                            "page_size": {
                                "value": "50"
                            }
                        },
                        "name": "page_size",
                        "description": "Size of a paginator page",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "side": {
                                "value": "1"
                            }
                        },
                        "name": "side",
                        "description": "Filter by order side",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "trader_id": {
                                "value": "2"
                            }
                        },
                        "name": "trader_id",
                        "description": "Id of a trader",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "type": {
                                "value": "3"
                            }
                        },
                        "name": "type",
                        "description": " MARKET = 1\n LIMIT = 2",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/MyOrders"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "summary": "All orders",
                "description": "Open orders are orders that have not been fully filled yet.\n\nThese are order with order_status:\n- PENDING - numerical status 1 - the order has been recieved, however not yet accepted by the exchange matching engine\n- ACCEPTED - numerical status 2 - the order has been recieved, validated and accepted by the exchange matching engine\n- PARTIAL - numerical status 6 - ACCEPTED + partially filled. Partial filled information and remaining volume are part of the open order information\n\n\nOrders can be filtered with any of the query parameters. No query parameters means all open orders."
            },
            "parameters": [
                {
                    "examples": {
                        "trader_id": {
                            "value": "2"
                        }
                    },
                    "name": "trader_id",
                    "description": "Id of a trader",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "type": {
                            "value": "3"
                        }
                    },
                    "name": "type",
                    "description": " MARKET = 1\n LIMIT = 2",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "side": {
                            "value": "1"
                        }
                    },
                    "name": "side",
                    "description": "Filter by order side",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "market_id": {
                            "value": "2"
                        }
                    },
                    "name": "market_id",
                    "description": "id of a market",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query",
                    "required": false
                },
                {
                    "examples": {
                        "status": {
                            "value": "2"
                        }
                    },
                    "name": "status",
                    "description": "- ACCEPTED (2) - order has been accepted for execution by matching engine\n- PENDING (1) - order has been recieved, however not yet accepted\n- PARTIAL (6) - order has been only partially filled\n",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "page_size": {
                            "value": "50"
                        }
                    },
                    "name": "page_size",
                    "description": "Size of a paginator page",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "cursor": {
                            "value": "cD0yMDIxLTA4LTE4KzE1JTNBMjQlM0EwOS43OTczMTUlMkIwMCUzQTAw"
                        }
                    },
                    "name": "cursor",
                    "description": "Cursor for fetching. Pagination",
                    "schema": {
                        "type": "string"
                    },
                    "in": "query"
                }
            ]
        },
        "/v1/exchange/bot/trade_history/": {
            "summary": "Get trade history",
            "description": "Get trade history of a trader",
            "get": {
                "tags": [
                    "Private"
                ],
                "parameters": [
                    {
                        "examples": {
                            "traded_at_from": {
                                "value": "1632234345216613"
                            }
                        },
                        "name": "traded_at_from",
                        "description": "Timestamp in nanoseconds",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "traded_at_to": {
                                "value": "1632234345216613"
                            }
                        },
                        "name": "traded_at_to",
                        "description": "Timestamp in nanoseconds. Only return contracts traded before this time.",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "cursor": {
                                "value": "cD0yMDIxLTA4LTE4KzE1JTNBMjQlM0EwOS43OTczMTUlMkIwMCUzQTAw"
                            }
                        },
                        "name": "cursor",
                        "description": "Cursor for fetching pages in pagination",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "market_id": {
                                "value": "2"
                            }
                        },
                        "name": "market_id",
                        "description": "Id of a market",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "page_size",
                        "description": "size of a paginator page",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "trader_id": {
                                "value": "2"
                            }
                        },
                        "name": "trader_id",
                        "description": "optional trader id",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/MyTrades"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "TradersToken": [
                        ]
                    }
                ],
                "summary": "Trade history",
                "description": "Get trade history of a trader"
            },
            "parameters": [
                {
                    "examples": {
                        "market_id": {
                            "value": "2"
                        }
                    },
                    "name": "market_id",
                    "description": "Id of a market",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "trader_id": {
                            "value": "2"
                        }
                    },
                    "name": "trader_id",
                    "description": "optional trader id",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "traded_at_to": {
                            "value": "2020-04-02T13:37:39.867Z"
                        }
                    },
                    "name": "traded_at_to",
                    "description": "timestamp in nanoseconds. Only return contracts traded before this time.",
                    "schema": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "traded_at_from": {
                            "value": "2020-04-01T13:37:39.867Z"
                        }
                    },
                    "name": "traded_at_from",
                    "description": "timestamp in nanoseconds. Only return contracts traded after this time.",
                    "schema": {
                        "format": "int64",
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "name": "page_size",
                    "description": "size of a paginator page",
                    "schema": {
                        "type": "integer"
                    },
                    "in": "query"
                },
                {
                    "examples": {
                        "cursor": {
                            "value": "cD0yMDIxLTA4LTE4KzE1JTNBMjQlM0EwOS43OTczMTUlMkIwMCUzQTAw"
                        }
                    },
                    "name": "cursor",
                    "description": "Cursor for fetching pages in pagination",
                    "schema": {
                        "type": "string"
                    },
                    "in": "query"
                }
            ]
        },
        "/v1/exchange/bot/trader/order/update/": {
            "summary": "Order update",
            "description": "Order update",
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateOrder"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Private"
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "201": {
                        "$ref": "#/components/responses/UpdateOrder"
                    }
                },
                "security": [
                    {
                        "TradersToken": [
                        ]
                    }
                ],
                "summary": "Order update"
            }
        },
        "/v1/exchange/bot/trader/order/cancel/": {
            "description": "",
            "post": {
                "requestBody": {
                    "description": "to cancel an order(s) - send list of cliet_id(s) and the market for which you want to close orders, you can close orders only for one market at a time\n\nto cancel all order(s) by market - send only market_id\n\nto cancel all orders - send empty body",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CancelOrder"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "Private"
                ],
                "responses": {
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "201": {
                        "$ref": "#/components/responses/CancelOrder"
                    }
                },
                "security": [
                    {
                        "TradersToken": [
                        ]
                    }
                ],
                "summary": "Cancel order"
            }
        },
        "/v1/exchange/bot/position/": {
            "summary": "Shows trader's position",
            "description": "Shows current position of the trader in the futures market",
            "get": {
                "tags": [
                    "Private"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PositionItem"
                                    }
                                },
                                "examples": {
                                    "PositionResponseList": {
                                        "value": [
                                            {
                                                "contractCurrency": "DGTX",
                                                "leverage": 1.8294143915246146,
                                                "market": "BTCUSD",
                                                "markPrice": 49587.53,
                                                "positionMargin": "0.000000000000000000",
                                                "quantity": 0,
                                                "timestamp": 1629797235
                                            },
                                            {
                                                "contractCurrency": "DGTX",
                                                "entryPrice": 3216,
                                                "leverage": 1.8294143915246146,
                                                "liquidationPrice": 3164,
                                                "market": "ETHUSD",
                                                "markPrice": 3326.16,
                                                "positionMargin": "106.543400000000000000",
                                                "quantity": 1,
                                                "positionSide": "Long",
                                                "timestamp": 1629797235,
                                                "unrealizedPnl": 111
                                            },
                                            {
                                                "contractCurrency": "USDC",
                                                "entryPrice": 47100,
                                                "leverage": 1.8294143915246146,
                                                "liquidationPrice": 23560,
                                                "market": "FS:BTCUSD",
                                                "markPrice": 49587.53,
                                                "positionMargin": "47.090197100000000000",
                                                "quantity": 1,
                                                "positionSide": "Long",
                                                "timestamp": 1629797235,
                                                "unrealizedPnl": 2.47
                                            },
                                            {
                                                "contractCurrency": "USDC",
                                                "leverage": 1.8294143915246146,
                                                "market": "FS:BTC1USD",
                                                "markPrice": 49587.53,
                                                "positionMargin": "0.000000000000000000",
                                                "quantity": 0,
                                                "timestamp": 1629797235
                                            },
                                            {
                                                "contractCurrency": "USDC",
                                                "leverage": 1.8294143915246146,
                                                "market": "FS:ETHUSD",
                                                "markPrice": 3326.16,
                                                "positionMargin": "0.000000000000000000",
                                                "quantity": 0,
                                                "timestamp": 1629797235
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Get all orders"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "TradersToken": [
                        ]
                    }
                ],
                "summary": "Trader position",
                "description": ""
            }
        },
        "/v1/exchange/bot/balances/": {
            "summary": "Balances",
            "description": "Balances",
            "get": {
                "tags": [
                    "Private"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Balance"
                                    }
                                }
                            }
                        },
                        "description": "Returns user's current balances of main and trading account."
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "TradersToken": [
                        ]
                    }
                ],
                "summary": "Balances",
                "description": "Getting balances"
            }
        }
    },
    "components": {
        "schemas": {
            "UpdateOrder": {
                "description": "",
                "required": [
                    "client_id",
                    "duration",
                    "leverage",
                    "market_id",
                    "price",
                    "quantity",
                    "side",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "client_id": {
                        "description": "order's client_id",
                        "type": "string"
                    },
                    "duration": {
                        "$ref": "#/components/schemas/OrderDuration",
                        "description": "UNDEFINED - 0\nGTD - 1\nGTC - 2\nGTF - 3\nIOC - 4\nFOK - 5"
                    },
                    "leverage": {
                        "description": "desired leverage for margin trades",
                        "type": "integer"
                    },
                    "market_id": {
                        "description": "market id",
                        "type": "integer"
                    },
                    "price": {
                        "description": "Desired price of an order",
                        "type": "string"
                    },
                    "quantity": {
                        "description": "quantity of an order",
                        "type": "string"
                    },
                    "side": {
                        "$ref": "#/components/schemas/OrderSide",
                        "description": "BUY - 1\nSELL - 2"
                    },
                    "type": {
                        "$ref": "#/components/schemas/OrderType",
                        "description": "LIMIT - 1\nMARKET - 2"
                    }
                },
                "example": {
                    "client_id": "3877a30e-6acb-49f5-a101-5c46656cd8a5",
                    "duration": 1,
                    "leverage": 1,
                    "market_id": 1,
                    "price": "51000.000000000000000000",
                    "quantity": "1.000000000000000000",
                    "side": 2,
                    "type": 2
                }
            },
            "CancelOrder": {
                "title": "Root Type for CancelOrder",
                "description": "",
                "type": "object",
                "properties": {
                    "market_id": {
                        "format": "int32",
                        "description": "market_id",
                        "type": "integer"
                    },
                    "orders_client_ids": {
                        "description": "list of cliend_ids to cancel",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "example": {
                    "market_id": 1,
                    "orders_client_ids": [
                        "client_id1",
                        "client_id2",
                        "..."
                    ]
                }
            },
            "TradeHistory": {
                "title": "Root Type for TradeHistory",
                "description": "Data type for trades",
                "type": "object",
                "properties": {
                    "market_id": {
                        "format": "int32",
                        "description": "Internal market id",
                        "type": "integer"
                    },
                    "side": {
                        "$ref": "#/components/schemas/OrderSide",
                        "description": "    Buy = 1\n    Sell = 2"
                    },
                    "price": {
                        "description": "Traded price",
                        "type": "string"
                    },
                    "quantity": {
                        "description": "Quantity of the order. For futures - this is amount of contracts traded.\nIf spot and order side is Buy (side=1) - amount of quote currency\nIf spot and order side is Sell (side=2) - amount of base currency",
                        "type": "string"
                    },
                    "traded_at": {
                        "format": "int32",
                        "description": "Timestamp of execution trade",
                        "type": "integer"
                    },
                    "contract_id": {
                        "description": "uuid order id",
                        "type": "integer"
                    }
                },
                "example": "\"results\": [\n        {\n            \"trader_id\": 119887,\n            \"market_id\": 1,\n            \"traded_at\": 1632224319506351,\n            \"side\": 1,\n            \"price\": \"43415.000000000000000000\",\n            \"quantity\": \"23.000000000000000000\",\n            \"contract_id\": 164918037\n        },\n        {\n            \"trader_id\": 119887,\n            \"market_id\": 1,\n            \"traded_at\": 1632141224095377,\n            \"side\": 1,\n            \"price\": \"42860.000000000000000000\",\n            \"quantity\": \"453.000000000000000000\",\n            \"contract_id\": 163763264\n        },\n        {\n            \"trader_id\": 119887,\n            \"market_id\": 1,\n            \"traded_at\": 1632070113354465,\n            \"side\": 2,\n            \"price\": \"47565.000000000000000000\",\n            \"quantity\": \"23.000000000000000000\",\n            \"contract_id\": 162455410\n        }\n    ]"
            },
            "PlaceOrder": {
                "title": "Root Type for PlaceOrder",
                "description": "",
                "type": "object",
                "properties": {
                    "market_id": {
                        "format": "int32",
                        "description": "market id, can be found in markets instance",
                        "type": "integer"
                    },
                    "side": {
                        "$ref": "#/components/schemas/OrderSide",
                        "description": "    BUY = 1\n    SELL = 2"
                    },
                    "type": {
                        "$ref": "#/components/schemas/OrderType",
                        "description": "    MARKET = 1\n    LIMIT = 2"
                    },
                    "duration": {
                        "$ref": "#/components/schemas/OrderDuration",
                        "description": "duration of the order\n    \n    UNDEFINED = 0\n    GFD = 1\n    GTC = 2\n    GTF = 3\n    IOC = 4\n    FOK = 5"
                    },
                    "leverage": {
                        "format": "int32",
                        "description": "Leverage of the trades, only valid for futures market and will be ignored for spot",
                        "type": "integer"
                    },
                    "quantity": {
                        "description": "quantity of the order. If you are trading futures, this is - amount of contracts.\n\nfor spot - it depends on your side.",
                        "type": "string"
                    },
                    "price": {
                        "description": "price of the orders",
                        "type": "string"
                    },
                    "client_id": {
                        "description": "user generated uidid. it is optional, the backend will generate one if nothing is provided",
                        "type": "string"
                    }
                },
                "example": {
                    "client_id": "4cf82f66-697a-43c9-9f3b-4f7ad838ac10",
                    "duration": 2,
                    "leverage": 1,
                    "market_id": 1,
                    "price": "45000.000000000000000000",
                    "quantity": "1.000000000000000000",
                    "side": 1,
                    "trader_id": 119511,
                    "type": 2
                }
            },
            "ExchangeInfo": {
                "title": "Root Type for Get_exchange_info",
                "description": "",
                "type": "object",
                "properties": {
                    "notifications": {
                        "description": "List of recent notifications that can affect your trading experience. ",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Notification"
                        }
                    },
                    "currencies": {
                        "description": "List of available currencies",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Currency"
                        }
                    },
                    "markets": {
                        "description": "List of available markets",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Market"
                        }
                    },
                    "rate_limits": {
                        "description": "User's currently enforced rate limits. Not implemented yet",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RateLimits"
                        }
                    },
                    "server_time": {
                        "format": "int32",
                        "description": "Current server's time",
                        "type": "integer"
                    },
                    "order_meta": {
                        "$ref": "#/components/schemas/OrderMeta",
                        "description": "Order meta params from:\nOrder type\nOrder duration\nOrder side\nOrder position\nOrder status\n"
                    }
                },
                "example": {
                    "rate_limits": [
                        {
                            "interval": "SECOND",
                            "limit": 50
                        },
                        {
                            "interval": "MINUTE",
                            "limit": 500
                        }
                    ],
                    "notifications": [
                    ],
                    "server_time": 1632229225740173,
                    "currencies": [
                        {
                            "id": 1,
                            "name": "Digitex",
                            "code": "DGTX",
                            "currency_scale": 4,
                            "withdraw_fee": "100.000000000000000000"
                        },
                        {
                            "id": 2,
                            "name": "Bitcoin",
                            "code": "BTC",
                            "currency_scale": 8,
                            "withdraw_fee": "0.000050000000000000"
                        }
                    ],
                    "markets": [
                        {
                            "id": 2,
                            "name": "ETH/USD",
                            "code": "ETHUSD",
                            "market_type": 1,
                            "base_currency": {
                                "id": 4,
                                "name": "Ethereum",
                                "code": "ETH",
                                "currency_scale": 8,
                                "withdraw_fee": "100.000000000000000000"
                            },
                            "quote_currency": {
                                "id": 3,
                                "name": "USD",
                                "code": "USD",
                                "currency_scale": 2,
                                "withdraw_fee": "100.000000000000000000"
                            },
                            "description": "ETH/USD Perpetual Futures",
                            "contract_currency": {
                                "id": 1,
                                "name": "Digitex",
                                "code": "DGTX",
                                "currency_scale": 4,
                                "withdraw_fee": "100.000000000000000000"
                            },
                            "funding": "0.0003"
                        }
                    ],
                    "order_meta": {
                        "type": {
                            "LIMIT": 1,
                            "MARKET": 2
                        },
                        "duration": {
                            "DURATION_UNDEFINED": 0,
                            "GFD": 1,
                            "GTC": 2,
                            "GTF": 3,
                            "IOC": 4,
                            "FOK": 5
                        },
                        "side": {
                            "BUY": 1,
                            "SELL": 2
                        },
                        "position": {
                            "UNDEFINED": 0,
                            "LONG": 1,
                            "SHORT": 2
                        },
                        "status": {
                            "PENDING": 1,
                            "ACCEPTED": 2,
                            "REJECTED": 3,
                            "CANCELED": 4,
                            "FILLED": 5,
                            "PARTIAL": 6
                        }
                    }
                }
            },
            "Ping": {
                "description": "regular ping response",
                "required": [
                    "timestamp",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "timestamp": {
                        "description": "unix timestamp in nanoseconds. Note, all times here and in the rest of project are in nanoseconds",
                        "minimum": 0,
                        "type": "integer"
                    },
                    "message": {
                        "description": "pong message if success",
                        "type": "string"
                    }
                },
                "example": {
                    "timestamp": 163188462601104,
                    "message": "pong"
                }
            },
            "PagedOrdersResponse": {
                "title": "Root Type for PagedOrdersResponse",
                "description": "Paginated orders list response",
                "type": "object",
                "properties": {
                    "next": {
                        "nullable": true,
                        "description": "cursor for next page",
                        "type": "string"
                    },
                    "results": {
                        "description": "my orders",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderStatusInfo"
                        }
                    },
                    "previous": {
                        "nullable": true,
                        "description": "cursor for previous page",
                        "type": "string"
                    }
                },
                "example": {
                    "next": "cD0yMDIxLTA3LTE1KzE0JTNBMzglM0E1MS42OTQ1ODMlMkIwMCUzQTAw",
                    "results": [
                        {
                            "market_id": "14",
                            "side": 1,
                            "type": 2,
                            "status": 4,
                            "price": "30000.000000000000000000",
                            "quantity": "1.000000000000000000",
                            "created_at": 1632233150555220,
                            "client_id": "85fe88d1-7c76-46ca-86a4-daa20d7f2117",
                            "orig_quantity": "1.000000000000000000",
                            "average_price": "0",
                            "reduce_only": false,
                            "duration": 2
                        },
                        {
                            "market_id": "1",
                            "side": 1,
                            "type": 1,
                            "status": 5,
                            "price": "0.000000000000000000",
                            "quantity": "0.000000000000000000",
                            "created_at": 1632224319512703,
                            "client_id": "ebf5bce0-01fe-4826-b827-418962c5493a",
                            "orig_quantity": "23.000000000000000000",
                            "average_price": "0",
                            "reduce_only": false,
                            "duration": 4
                        },
                        {
                            "market_id": "1",
                            "side": 1,
                            "type": 2,
                            "status": 5,
                            "price": "42860.000000000000000000",
                            "quantity": "0.000000000000000000",
                            "created_at": 1632142047654264,
                            "client_id": "f265d70b-e6de-432d-87af-81aca2191b57",
                            "orig_quantity": "453.000000000000000000",
                            "average_price": "0",
                            "reduce_only": false,
                            "duration": 2
                        }
                    ]
                }
            },
            "PagedHistoryTrades": {
                "title": "Root Type for PagedTrades",
                "description": "Paginated trades response",
                "type": "object",
                "properties": {
                    "next": {
                        "nullable": true,
                        "description": "cursor for next page",
                        "type": "string"
                    },
                    "results": {
                        "description": "my trades",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TradeHistory"
                        }
                    },
                    "previous": {
                        "nullable": true,
                        "description": "cursor for previous page",
                        "type": "string"
                    }
                },
                "example": {
                    "next": "asdfasdf12-34534059asdfgasdf",
                    "previous": "asdfasdt3415sadfgsdfgsda345",
                    "results": [
                        {
                            "trader_id": 119887,
                            "market_id": 1,
                            "traded_at": 1632224319506351,
                            "side": 1,
                            "price": "43415.000000000000000000",
                            "quantity": "23.000000000000000000",
                            "contract_id": 164918037
                        },
                        {
                            "trader_id": 119887,
                            "market_id": 1,
                            "traded_at": 1632141224095377,
                            "side": 1,
                            "price": "42860.000000000000000000",
                            "quantity": "453.000000000000000000",
                            "contract_id": 163763264
                        },
                        {
                            "trader_id": 119887,
                            "market_id": 1,
                            "traded_at": 1632070113354465,
                            "side": 2,
                            "price": "47565.000000000000000000",
                            "quantity": "23.000000000000000000",
                            "contract_id": 162455410
                        }
                    ]
                }
            },
            "Balance": {
                "description": "Model for balance",
                "required": [
                ],
                "type": "object",
                "properties": {
                    "currency": {
                        "$ref": "#/components/schemas/Currency",
                        "description": "Currency"
                    },
                    "main_balance": {
                        "description": "Current Main account balance for given currency",
                        "type": "string"
                    },
                    "trading_balance": {
                        "description": "Currenct Trading account balance for given currency ",
                        "type": "string"
                    },
                    "available_balance": {
                        "description": "Available balance to the trader after taking into account all the margins",
                        "type": "string"
                    },
                    "total_balance": {
                        "description": "Total available balace (main account + trading account) does not take into consideration margin",
                        "type": "string"
                    }
                },
                "example": [
                    {
                        "currency": {
                            "id": 32,
                            "name": "Blockster",
                            "code": "BXR",
                            "currency_scale": 4,
                            "withdraw_fee": "0.000000000000000000"
                        },
                        "main_balance": "0",
                        "trading_balance": "0",
                        "total_balance": "0",
                        "available_balance": "0"
                    },
                    {
                        "currency": {
                            "id": 4,
                            "name": "Ethereum",
                            "code": "ETH",
                            "currency_scale": 8,
                            "withdraw_fee": "100.000000000000000000"
                        },
                        "main_balance": "0",
                        "trading_balance": "0.014990700000000000",
                        "total_balance": "0.014990700000000000",
                        "available_balance": "0.014990700000000000"
                    },
                    {
                        "currency": {
                            "id": 7,
                            "name": "USD Coin",
                            "code": "USDC",
                            "currency_scale": 4,
                            "withdraw_fee": "100.000000000000000000"
                        },
                        "main_balance": "0",
                        "trading_balance": "30.000071480000000000",
                        "total_balance": "30.000071480000000000",
                        "available_balance": "0.000071480000000000"
                    },
                    {
                        "currency": {
                            "id": 6,
                            "name": "USDT",
                            "code": "USDT",
                            "currency_scale": 4,
                            "withdraw_fee": "100.000000000000000000"
                        },
                        "main_balance": "0",
                        "trading_balance": "0",
                        "total_balance": "0",
                        "available_balance": "0"
                    },
                    {
                        "currency": {
                            "id": 2,
                            "name": "Bitcoin",
                            "code": "BTC",
                            "currency_scale": 8,
                            "withdraw_fee": "0.000050000000000000"
                        },
                        "main_balance": "0",
                        "trading_balance": "0.000499750000000000",
                        "total_balance": "0.000499750000000000",
                        "available_balance": "0.000499750000000000"
                    },
                    {
                        "currency": {
                            "id": 1,
                            "name": "Digitex",
                            "code": "DGTX",
                            "currency_scale": 4,
                            "withdraw_fee": "100.000000000000000000"
                        },
                        "main_balance": "0",
                        "trading_balance": "54977.006100000000000000",
                        "total_balance": "54977.006100000000000000",
                        "available_balance": "52758.016700000000000000"
                    }
                ]
            },
            "Notification": {
                "description": "",
                "required": [
                    "title",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "title": {
                        "description": "",
                        "type": "string"
                    },
                    "message": {
                        "description": "",
                        "type": "string"
                    }
                },
                "example": "\"notifications\": [\n        {\n            \"title\": \"Updating UI\",\n            \"message\": \"Rolling update on a UI.\"\n        },\n        {\n            \"title\": \"Maintenance 22.09.2020\",\n            \"message\": \"Maintenance is planning for Testnet server from 14:00 UTC to 15:00 UTC with estimated down time not more than 15 minutes.\"\n        }\n]"
            },
            "RateLimits": {
                "description": "Rate limits are not implemented yet but will be implemented in the future, once the exchange hits it reasonable total requests limit",
                "required": [
                    "interval",
                    "limit"
                ],
                "type": "object",
                "properties": {
                    "interval": {
                        "description": "Frequency of rate limit",
                        "type": "string"
                    },
                    "limit": {
                        "description": "Current trader's allowed frequency.",
                        "type": "integer"
                    }
                },
                "example": "\"rateLimits\": [\n        {\n            \"interval\": \"SECOND\",\n            \"limit\": 50\n        },\n        {\n            \"interval\": \"MINUTE\",\n            \"limit\": 500\n        }\n    ]"
            },
            "MarketType": {
                "description": "Market types\n1 - FUTURES\n2 - SPOT",
                "enum": [
                    "1",
                    "2"
                ],
                "type": "integer"
            },
            "OHLCVList": {
                "description": "OHLCV",
                "required": [
                ],
                "type": "object",
                "properties": {
                    "open": {
                        "description": "Open price for the period",
                        "type": "string"
                    },
                    "high": {
                        "description": "High price for the period",
                        "type": "string"
                    },
                    "low": {
                        "description": "Low price for the period",
                        "type": "string"
                    },
                    "close": {
                        "description": "Closing price for the period",
                        "type": "string"
                    },
                    "volume": {
                        "description": "Volume?",
                        "type": "string"
                    },
                    "timestamp": {
                        "description": "Timestamp indicating start of the period",
                        "type": "integer"
                    }
                },
                "example": "\"ohlcv\": [\n        {\n            \"timestamp\": 1632475560000000,\n            \"open\": \"0.002400000000000000\",\n            \"high\": \"0.002600000000000000\",\n            \"low\": \"0.002400000000000000\",\n            \"close\": \"0.002600000000000000\",\n            \"volume\": \"24700.000000000000000000\"\n        },\n        {\n            \"timestamp\": 1632475620000000,\n            \"open\": \"0.002400000000000000\",\n            \"high\": \"0.002600000000000000\",\n            \"low\": \"0.002400000000000000\",\n            \"close\": \"0.002600000000000000\",\n            \"volume\": \"9349.000000000000000000\"\n        },\n        {\n            \"timestamp\": 1632475680000000,\n            \"open\": \"0.002600000000000000\",\n            \"high\": \"0.002600000000000000\",\n            \"low\": \"0.002400000000000000\",\n            \"close\": \"0.002400000000000000\",\n            \"volume\": \"40547.000000000000000000\"\n        },\n        {\n            \"timestamp\": 1632475740000000,\n            \"open\": \"0.002300000000000000\",\n            \"high\": \"0.002600000000000000\",\n            \"low\": \"0.002300000000000000\",\n            \"close\": \"0.002300000000000000\",\n            \"volume\": \"29188.000000000000000000\"\n        },\n        {\n            \"timestamp\": 1632475800000000,\n            \"open\": \"0.002600000000000000\",\n            \"high\": \"0.002600000000000000\",\n            \"low\": \"0.002400000000000000\",\n            \"close\": \"0.002400000000000000\",\n            \"volume\": \"11887.000000000000000000\"\n        },\n        {\n            \"timestamp\": 1632475915281597,\n            \"open\": \"2910.000000000000000000\",\n            \"high\": \"2910.000000000000000000\",\n            \"low\": \"2910.000000000000000000\",\n            \"close\": \"2910.000000000000000000\",\n            \"volume\": 5.0\n        }\n    ]"
            },
            "OHLCV": {
                "description": "OHLCV",
                "required": [
                    "ohlcv"
                ],
                "type": "object",
                "properties": {
                    "timestamp": {
                        "description": "Timestamp of the request",
                        "type": "integer"
                    },
                    "market_id": {
                        "description": "market id",
                        "type": "integer"
                    },
                    "ohlcv": {
                        "description": "result of the query",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OHLCVList"
                        }
                    },
                    "resolution": {
                        "description": "selected timeframe",
                        "type": "string"
                    }
                },
                "example": {
                    "market_id": 24,
                    "resolution": "1D",
                    "timestamp": 1632476201371805,
                    "ohlcv": [
                        {
                            "timestamp": 1632475560000000,
                            "open": "0.002400000000000000",
                            "high": "0.002600000000000000",
                            "low": "0.002400000000000000",
                            "close": "0.002600000000000000",
                            "volume": "24700.000000000000000000"
                        },
                        {
                            "timestamp": 1632475620000000,
                            "open": "0.002400000000000000",
                            "high": "0.002600000000000000",
                            "low": "0.002400000000000000",
                            "close": "0.002600000000000000",
                            "volume": "9349.000000000000000000"
                        },
                        {
                            "timestamp": 1632475680000000,
                            "open": "0.002600000000000000",
                            "high": "0.002600000000000000",
                            "low": "0.002400000000000000",
                            "close": "0.002400000000000000",
                            "volume": "40547.000000000000000000"
                        },
                        {
                            "timestamp": 1632475740000000,
                            "open": "0.002300000000000000",
                            "high": "0.002600000000000000",
                            "low": "0.002300000000000000",
                            "close": "0.002300000000000000",
                            "volume": "29188.000000000000000000"
                        },
                        {
                            "timestamp": 1632475800000000,
                            "open": "0.002600000000000000",
                            "high": "0.002600000000000000",
                            "low": "0.002400000000000000",
                            "close": "0.002400000000000000",
                            "volume": "11887.000000000000000000"
                        },
                        {
                            "timestamp": 1632475915281597,
                            "open": "2910.000000000000000000",
                            "high": "2910.000000000000000000",
                            "low": "2910.000000000000000000",
                            "close": "2910.000000000000000000",
                            "volume": 5
                        }
                    ]
                }
            },
            "ExchangeRecentTrade": {
                "description": "",
                "type": "object",
                "properties": {
                    "timestamp": {
                        "description": "timestamp of the order in nanoseconds",
                        "type": "integer"
                    },
                    "base_volume": {
                        "description": "If spot - base volume of currency. If fututes - number of contracts.",
                        "type": "string"
                    },
                    "quote_volume": {
                        "description": "If spot - amount of quote currency. If futures - \"notional\" amount - (base_volume/quantity of contracts) * price",
                        "type": "string"
                    },
                    "price": {
                        "description": "Price at which trade was executed",
                        "type": "string"
                    },
                    "side": {
                        "$ref": "#/components/schemas/OrderSide",
                        "description": "    Buy = 1\n    Sell = 2\n    \nTakers side. "
                    },
                    "trade_id": {
                        "description": "internal trade id, used only to differentiate orders if they traded at the same nanosecod",
                        "type": "integer"
                    }
                },
[...]
